# Build
bin/
obj/

# Visual Studio
.vs/
*.user
*.suo
*.userosscache
*.sln.docstates

# VS Code
.vscode/

# Rider / JetBrains
.idea/

# Logs
*.log

# OS
.DS_Store
Thumbs.db

# NuGet
packages/
*.nupkg

# Others
*.cache
*.pdb